<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" >
</head>
<body>
    <div class="container">
        <h1>Order a Pet, Continued</h1>

        <form action="summary" method="post" class="form-horizontal">
            <!-- Pet Name Input -->
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Pet Name: </label>
            </div>

            <div class="col-sm-4">
                <input class="form-control" type="text" name="name" id="name" >
            </div>

            <!-- Submit Button -->
            <div class="col-xs-3 ">
                <input class="form-control btn btn-primary" type="submit" value="Submit the Order">
            </div>
        </form>
    </div>
</body>
</html>